# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
.idea/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
node_modules/
.serverless/

__pycache__/

# vscode
.vscode

# pre-commit

.pre-commit-config.yaml
 bandit-report.html